.contact {
  display: flex;
  justify-content: space-between;

  .contact--content-container {
    width: 65%;

    .contact--title {
      margin-bottom: 0;
    }

    .contact--name {
      font-size: .7rem;
      margin-top: .5rem;
    }
  }

  .contact--content-icons {
    display: flex;
    text-align: right;
    width: 35%;

    img {
      height: 1.5rem;
      margin: 1.2rem;
    }
  }
}

.competitor {
  display: flex;
  justify-content: space-between;

  .competitor--content-container {
    width: 65%;

    .competitor--title {
      margin-bottom: 0;
    }

    .competitor--name {
      font-size: .7rem;
      margin-top: .5rem;
    }
  }

  .competitor--content-icons {
    display: flex;
    text-align: right;
    width: 25%;

    img {
      height: 1.5rem;
      margin: 1.2rem;
    }
  }

  .associate {
    margin: auto;

    &.association-active {
      background-color: $secondary-color-2;
    }
  }
}
