.contact {
  display: flex;
  justify-content: space-between;

  .contact--content-container {
    width: 65%;

    .contact--title {
      margin-bottom: 0;
    }

    .contact--name {
      font-size: .7rem;
      margin-top: .5rem;
    }
  }

  .contact--content-icons {
    display: flex;
    text-align: right;
    width: 35%;

    img {
      height: 1.5rem;
      margin: 1.2rem;
    }
  }
}
