.map {
  &-editor {
    height: 100%;
  }
}

.btn--editor {
  background-image: url('../../img/map-marker-main-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
}

.btn--add-poi {
  background-color: $tertiary-color-1;
  border-radius: 3rem;
  bottom: 0;
  font-size: 3rem;
  height: 5rem;
  margin: 1.5rem .5rem;
  overflow: hidden;
  padding: 1rem;
  position: absolute;
  right: 0;
  text-align: center;
  transition-duration: .5s;
  transition-property: background-color;
  transition-timing-function: ease;
  vertical-align: middle;
  width: 5rem;
  z-index: 1000;

  svg {
    fill: $tertiary-color-1;
    transform: translateY(-.5rem);
    transition-duration: .5s;
    transition-property: fill, transform;
    transition-timing-function: ease;
    width: 50%;
  }

  &.add--poi {
    background-color: $secondary-color-2;

    .btn--editor {
      svg {
        fill: $secondary-color-2;
        transform: translateY(-.5rem) rotate(50deg);
      }
    }
  }
}


.statusBar {
  color: $white;
  display: none;
  flex-direction: row;
  font-family: 'Proxima Nova', 'SansSerif';
  padding: 8px 0;

  &--visible {
    display: flex;
  }
}

#recordStatusBar {
  background: $secondary-color-2;

  & > div {
    text-align: center;
    width: 50%;
  }
}

#downloadStatusBar {
  background: $theme-color-secondary;
  justify-content: center;
  text-align: center;
}

.list--pois {
  font-size: 1rem;

  .list--pois-items {
    &::before {
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 1.6rem;
      margin-right: 1rem;
      position: absolute;
      vertical-align: middle;
      width: 1.6rem;
    }

    & > span {
      margin-left: 2.2rem;
    }
  }
}

.checkbox-item {
  input {
    display: none;

    &:checked {
      + .checkmark {
        // sass-lint:disable-line nesting-depth
        background-color: $tertiary-color-1; // Set color by js.

        .fa-check {
          // sass-lint:disable-line nesting-depth
          opacity: 1;
        }
      }
    }
  }

  .checkmark {
    border: 2px solid $tertiary-color-1; // Set color by js.
    border-radius: 50%;
    display: inline-block;
    height: 1rem;
    margin-right: .5rem;
    padding: .2rem;
    vertical-align: middle;
    width: 1rem;
  }

  .fa-check {
    color: $white;
    display: block;
    font-size: 1rem;
    opacity: 0;
  }

  .checkbox-item--label {
    &:hover {
      cursor: pointer;
    }
  }
}

.editor--list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.btn--poi--settings,
.btn--track--settings {
  background: 0 0;
  color: $theme-color-secondary;
  display: inline-block;
  font-size: .95rem;
  margin-left: .25rem;
}

.btn--editor-ico {
  vertical-align: middle;
}

//LEAFLET CUSTOM CTRL

.leaflet-control-custom {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}


.leaflet-control-container {
  a {
    &.savetiles {
      background-image: url('../../img/icon-download.svg');
      background-size: 20px;
    }
  }
}
// LEAF LET POP-UP

.leaflet-popup-content-wrapper {
  border-radius: 12px;
  padding: 0;
  text-align: center;

  header {
    display: block;
    font-size: .75rem;
  }

  h4 {
    margin-block-end: 0;
    margin-block-start: 0;
  }
}

.leaflet-popup-content {
  margin: 0;
  padding-bottom: 1rem;

  p {
    margin: 0;
  }
}
